.kohli{
    background-color: green;
    width: 100%;
    height: 50%;
    color: white;
    text-align: center;
}
.modi{
    background-color: green;
    width: 100%;
    height: 50%;
    color: white;
    text-align: center;
}